{% extends 'bases/student_header.html' %}
{% block content %}

<div class="page pt-0">
    <div class="bg-primary mdk-box js-mdk-box mb-0" style="height: 192px;" data-effects="parallax-background blend-background">
        <div class="mdk-box__bg">
            <div class="mdk-box__bg-front" style="background-image: url(/static/assets/images/1280_rsz_aman-dhakal-205796-unsplash.jpg); background-position: center;"></div>
        </div>
    </div>
    <div class="container page__container d-flex align-items-end position-relative mb-4">
        <div class="avatar avatar-xxl position-absolute bottom-0 left-0 right-0">
            <img src="{{ student.photo.url }}" alt="avatar" class="avatar-img rounded-circle border-3">
        </div>
        <ul class="nav nav-tabs-links flex" style="margin-left: 265px;">
            <li class="nav-item">
                <a href="{% url 'profile' %}" class="nav-link active">Profil</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'profile-posts' %}" class="nav-link">Posts</a>
            </li>
        </ul>
    </div>

    <div class="container page__container mb-3">
        <div class="row flex-sm-nowrap">
            <div class="col-sm-auto mb-3 mb-sm-0" style="width: 265px;">
                <h1 class="h2 mb-1">{{ student.user.last_name }} {{ student.user.first_name }}</h1>
                <div class="text-muted d-flex align-items-center mb-4">
                    <i class="material-icons mr-1">account_box</i>
                    <div class="flex">Étudiant depuis {{ student.date_add|date:"d/m/Y" }}</div>
                </div>
                <div class="text-muted d-flex align-items-center mb-4">
                    <i class="material-icons mr-1">school</i>
                    <div class="flex">Filière : {% if filiere %}{{ filiere.nom }}{% else %}Non spécifiée{% endif %}</div>
                </div>
                <div class="text-muted d-flex align-items-center mb-4">
                    <i class="material-icons mr-1">class</i>
                    <div class="flex">Classe : {{ classe.niveau.nom }} {{ classe.numeroClasse }}</div>
                </div>
    
                <h4>À propos de moi</h4>
                <p class="text-black-70 measure-paragraph">
                    {{ bio }}
                </p>
            </div>
        </div>
    </div>
    

    <div class="container page__container">
        <div class="footer">
            Copyright &copy; 2024 - LearnPlus
        </div>
    </div>
</div>

{% endblock content %}
