{% extends 'bases/student_header.html' %}

{% block content %}
<div class="page">
    <div class="container page__container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index_student' %}">Accueil</a></li>
            <li class="breadcrumb-item active">Quiz : {{ quiz.titre }}</li>
        </ol>

        <div class="card-group mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <h4 class="mb-0"><strong>{{ questions.count }}</strong></h4>
                    <small class="text-muted-light">TOTAL QUESTIONS</small>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <h4 class="text-primary mb-0"><strong>{{ quiz.nombre_tentatives }}</strong></h4>
                    <small class="text-muted-light">TENTATIVES AUTORISÉES</small>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <h4 class="text-danger mb-0"><strong>{{ quiz.temps }}</strong></h4>
                    <small class="text-muted-light">TEMPS (Minutes)</small>
                </div>
            </div>
        </div>

        <!-- Formulaire pour soumettre le quiz -->
        <form method="POST" action="{% url 'submit-quiz' quiz.slug %}">
            {% csrf_token %}

            {% for question in questions %}
            <div class="card mb-3">
                <div class="card-header">
                    <div class="media align-items-center">
                        <div class="media-left">
                            <h4 class="mb-0"><strong>#{{ forloop.counter }}</strong></h4>
                        </div>
                        <div class="media-body">
                            <h4 class="card-title">{{ question.question }}</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {% for reponse in question.question_reponse.all %}
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input id="response{{ reponse.id }}" name="question{{ question.id }}" type="radio"
                                value="{{ reponse.id }}" class="custom-control-input">
                            <label for="response{{ reponse.id }}" class="custom-control-label">
                                {{ reponse.reponse }}
                            </label>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}

            <div class="text-right">
                <button type="submit" class="btn btn-success">Soumettre le Quiz</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
