{% extends 'bases/header_instructor.html' %}
{% block content %}

    <div class="mdk-drawer-layout__content page ">

        <div class="container-fluid page__container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                <li class="breadcrumb-item active">Quizzes</li>
            </ol>

            <div class="media align-items-center mb-headings">
                <div class="media-body">
                    <h1 class="h2">Quizzes</h1>
                </div>
                <div class="media-right d-flex align-items-center">
                    <a href="{% url 'instructor-quiz-add' %}" class="btn btn-success mr-2">Add Quiz</a>
                </div>
            </div>

            {% if quizzes %}
                <div class="card-columns">
                    {% for quiz in quizzes %}
                        <div class="card card-sm">
                            <div class="card-body media">
                                <div class="media-left">
                                    <a href="{% url 'instructor-review-quiz' quiz.slug %}" class="avatar avatar-lg avatar-4by3">
                                        <img src="/static/assets/images/default_quiz.png" alt="Quiz Image" class="avatar-img rounded">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="card-title mb-0">
                                        <a href="{% url 'instructor-review-quiz' quiz.slug %}">{{ quiz.titre }}</a>
                                    </h4>
                                    <small class="text-muted">{{ quiz.date }}</small>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <a href="{% url 'instructor-review-quiz' quiz.slug %}" class="btn btn-white btn-sm float-left">
                                    <i class="material-icons btn__icon--left">playlist_add_check</i> Review
                                </a>
                                <a href="{% url 'instructor-quiz-edit' quiz.slug %}" class="btn btn-default btn-sm float-right">
                                    <i class="material-icons btn__icon--left">edit</i> Edit
                                </a>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!-- Pagination -->
                <ul class="pagination justify-content-center pagination-sm">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true" class="material-icons">chevron_left</span>
                            <span>Prev</span>
                        </a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#" aria-label="1">
                            <span>1</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="2">
                            <span>2</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span>Next</span>
                            <span aria-hidden="true" class="material-icons">chevron_right</span>
                        </a>
                    </li>
                </ul>
            {% else %}
                <p class="text-center">No quizzes found.</p>
            {% endif %}

        </div>

    </div>

{% endblock content %}
