{% extends 'bases/header_instructor.html' %}
{% block content %}
<div class="mdk-drawer-layout__content page ">
    <div class="container-fluid page__container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Accueil</a></li>
            <li class="breadcrumb-item active">Profil</li>
        </ol>

        <div class="text-center mb-4">
            <a href="#">
                <img src="{{ instructor.photo.url }}" alt="Photo de profil" class="rounded-circle" width="150">
            </a>
            <h1 class="h2 mb-0 mt-3">{{ instructor.user.get_full_name }}</h1>
            <p class="lead text-muted mb-1">{{ instructor.adresse }}</p>
            <div class="badge badge-primary">INSTRUCTEUR</div>
            <hr>
            <h5 class="text-muted mb-1">Biographie</h5>
            <p class="lead">{{ instructor.bio }}</p>
            <hr>
            <h5 class="text-muted mb-1">Évaluation de l'instructeur</h5>
            <div class="rating">
                {% for _ in instructor.rating|slice:":4" %}
                <i class="material-icons text-success">star</i>
                {% endfor %}
                {% for _ in instructor.rating|slice:"4:" %}
                <i class="material-icons text-muted-light">star_border</i>
                {% endfor %}
            </div>
        </div>

        <hr>
        <h4>Mes Cours</h4>
        <div class="card-columns">
            {% for cours in instructor.classe.cours_set.all %}
            <div class="card">
                <div class="card-header">
                    <div class="media align-items-center">
                        <div class="media-left">
                            <a href="{% url 'instructor-take-course' cours.slug %}">
                                <img src="{{ cours.image.url }}" alt="Image du cours" width="100" class="rounded">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="card-title mb-0">
                                <a href="{% url 'instructor-take-course' cours.slug %}">{{ cours.titre }}</a>
                            </h4>
                            <div class="rating">
                                <i class="material-icons">star</i>
                                <i class="material-icons">star</i>
                                <i class="material-icons">star</i>
                                <i class="material-icons">star</i>
                                <i class="material-icons">star_border</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <p class="text-muted">Aucun cours trouvé pour cet instructeur.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
